.idea
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nlo
*.out
*.pdf
*.gz
*.toc
*.cls
*.dat
*.o
*.out
*.xcodeproj
*.xcbkptlist
*.pbxproj
*.xcuserstate
*.xcworkspacedata
*.xcscheme
*.plist
*.mat
*.segy
out
err
.ipynb_checkpoints/
SeisCL_15_xstream_logs_elas/
logs_elas/
res*
*.btr
SeisCL_15_acc_logs*
SeisCL_15_acc_noise_10_logs_acc_acc_batch6_4passes_noise10
SeisCL_15_acc_noise_2_logs_acc_acc_batch6_4passes_noise2*
SeisCL_15_acc_noise_5_logs_acc_acc_batch6_4passes_noise5*
*.spl
*.eps
*.png
